/* ejemplo
 */

h1{
    color: red;
}
/* h2{
    background-color: antiquewhite;
} */
.fuente1{
    background-color:aqua}

    /* todo es un ejemplo para ver con santi, no se modifica la consola de abajo */